.parent {
	display: flex;
	flex-direction: column;
	max-width: 60rem;
	border: 1px solid #555;
	padding: 1rem 2rem;
	border-radius: 1rem;
	margin: 3rem auto;
}

.fact {
	display: flex;
	font-size: 1.8rem;
	margin: 2rem 0;
}

.label {
	color: var(--gray-3);
	margin-right: 2rem;
}
