@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');
*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: inherit;
}

html {
	font-size: 62.5%;
}

@media (max-width: 600px) {
	html {
		font-size: 55%;
	}
}

body {
	box-sizing: border-box;
	font-family: 'Lato', sans-serif;
	background-color: var(--background);
	color: var(--text-color);
}

:root {
	--gray-1: #eee;
	--gray-2: #343a40;
	--gray-3: #687980;
	--text-color: #333;
	--background: #fdfaf6;
	--green: rgb(3, 127, 3);
}

[data-theme='dark'] {
	--gray-1: #302f2f;
	--gray-2: #999;
	--gray-3: #aaaaaa;
	--background: #1a1c20;
	--text-color: #f4f4f4;
	--green: rgb(77, 212, 77);
}

.datePicker {
	font-size: 1.8rem !important;
	margin-top: -1.5rem;
}

.react-datepicker__triangle {
	left: 3.5rem !important;
	transform: translate(0px) !important;
}

.react-datepicker-wrapper {
	display: block !important;
}

.datePicker .react-datepicker__day {
	width: 4rem !important;
	line-height: 1.7rem;
}

.datePicker .react-datepicker__week {
	height: 4rem;
}

.datePicker .react-datepicker__day-names {
	display: flex;
	justify-content: space-around;
	margin: 1rem 0;
	font-size: 1.5rem;
}

.react-datepicker__header {
	background-color: #0000ff6e !important;
}

.datePicker .react-datepicker__month-select {
	font-size: 1.8rem;
	text-align: center;
	margin-top: 0.7rem;
}

.react-datepicker__current-month {
	font-size: 1.5rem;
}
