.parent {
	display: flex;
	height: 100vh;
	width: 100%;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.parent h2 {
	font-size: 20rem;
	font-weight: 900;
	display: flex;
	align-items: center;
}

.text {
	font-size: 2.5rem;
	font-weight: bold;
	color: rgb(41, 155, 41);
	text-transform: uppercase;
}

.link {
	color: inherit;
	font-size: 2rem;
	text-decoration: none;
	margin-top: 2rem;
}
