.parentList {
	max-width: 90rem;
	margin: 0 auto;
	list-style: none;
}
.title {
	font-size: 2.2rem;
	display: flex;
	align-items: center;
	border-bottom: 2px solid #999;
	padding: 2rem;
	margin: 2rem 0;
}

.title p {
	margin-left: 2rem;
}

.games {
	display: flex;
	flex-direction: column;
}

.gameLink {
	text-decoration: none;
	font-size: 1.8rem;
	display: grid;
	grid-template-columns: min-content repeat(3, 1fr);
	align-items: center;
	margin-top: 3rem;
	position: relative;
}

.team {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	height: 100%;
}

.team p {
	margin: 0 2rem;
	font-size: 1.7rem;
	color: var(--gray-3);
	margin-top: 1.5rem;
	width: 60%;
}

.time {
	justify-self: center;
	font-size: 2.5rem;
	color: var(--text-color);
	font-weight: bold;
}

.teamImg {
	width: 10rem;
	height: 10rem;
}

.fixture {
	max-width: 80rem;
	display: flex;
	align-items: center;
	font-size: 2rem;
	justify-content: space-between;
	padding: 2rem 6rem;
	margin: 0 auto;
	margin-top: 3rem;
	border-radius: 6rem;
	background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.7)),
		url('../../public/fixtureback.-1jpg.jpg');
	background-position: top;
	color: #fff;
}

.teamDet {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.teamDet p {
	text-align: center;
	font-size: 2rem;
	margin-top: 1rem;
}

.result {
	font-size: 5rem;
}

.back {
	color: var(--text-color);
	text-decoration: none;
}

.minute {
	color: var(--text-color);
	padding: 0.75rem;
	border-radius: 50%;
	justify-self: center;
}

@media (max-width: 600px) {
	.teamImg {
		width: 5rem;
		height: 5rem;
	}
	.fixture {
		padding: 2rem 0.5rem;
	}
	.result {
		font-size: 3rem;
	}

	.teamDet {
		width: 30%;
	}

	.teamDet p {
		font-size: 1.6rem;
	}

	.minute {
		font-size: 1.5rem;
	}
}
