.lineups {
	display: flex;
	flex-direction: column;
	margin: 0 auto;
	position: relative;
	width: 70rem;
	height: 140rem;
	align-items: center;
	justify-content: center;
}

.subs {
	width: 60rem;
	display: flex;
	margin: 0 auto;
	justify-content: space-around;
}

.parent {
	display: flex;
	flex-direction: column;
	padding: 2rem 0;
	position: relative;
	height: 63rem;
}

.grid {
	display: grid;
	position: relative;
	background-color: rgb(41, 155, 41);
	justify-items: center;
	align-items: center;
	height: 60rem;
	grid-column-gap: 1rem;
	border: 1px solid #fff;
}

.kir {
	width: 10rem;
	height: 20rem;
	background-color: transparent;
	border: 1px solid rgba(255, 255, 255, 0.644);
	position: absolute;
}

.kos {
	width: 10rem;
	height: 10rem;
	background-color: transparent;
	border: 1px solid rgba(255, 255, 255, 0.644);
	position: absolute;
	border-radius: 50%;
	right: -4.8rem;
}
.row {
	display: grid;
	grid-row-gap: 5.5rem;
	grid-template-columns: minmax(min-content, 1fr);
}

.home {
	transform: rotate(90deg);
}
.rowHome > * {
	transform: rotate(-90deg);
}

.away {
	transform: rotate(270deg);
}
.rowAway > * {
	transform: rotate(90deg);
}

.playerContainer {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-decoration: none;
	color: rgb(255, 242, 242);
	position: relative;
	z-index: 4;
}

.playerImg {
	border-radius: 50%;
	width: 4.5rem;
	height: 4.5rem;
}

.playerName {
	text-align: center;
	font-size: 1.6rem;
	margin-top: 1rem;
	width: 13rem;
}

.sub {
	display: flex;
	flex-direction: column;
	grid-row: 2/3;
	grid-column: 1/2;
}

.subLink {
	text-decoration: none;
	color: inherit;
	font-size: 1.8rem;
	border-bottom: 1px solid #eee;
	padding: 1rem;
	margin: 0 2rem;
}

.position {
	font-size: 1.5rem;
	color: #999;
	margin-left: 1rem;
}

@media (max-width: 600px) {
	.position {
		margin-left: 0;
		display: block;
	}
	.grid {
		grid-column-gap: 0;
	}
}
