.parent {
	display: flex;
	flex-direction: column;
	margin: 0 auto;
	max-width: 75rem;
	font-size: 1.8rem;
}

.time {
	padding: 0 2rem;
	color: var(--gray-3);
}

.card {
	height: 3rem;
	width: 2rem;
	background-color: #ff0000;
}

.missed {
	background-color: red;
}

@media (max-width: 600px) {
	.parent {
		font-size: 1.6rem;
	}
}
