.statBack {
	padding: 1rem;
}

.stat {
	font-size: 2rem;
	display: grid;
	grid-template-columns: max-content 1fr max-content;
	max-width: 70rem;
	margin: 0 auto;
	padding: 1rem 0;
	border-bottom: 1px solid var(--gray-1);
	align-items: center;
}

.bigger {
	color: var(--green);
	font-weight: 800;
}

@media (max-width: 600px) {
	.stat {
		font-size: 1.7rem;
	}
}
@media (max-width: 400px) {
	.stat {
		font-size: 1.5rem;
		grid-template-columns: max-content 2fr max-content;
	}
}
