.statBack {
	padding: 2rem;
	color: #333;
}

.stat {
	font-size: 2rem;
	display: grid;
	grid-template-columns: 70px 1fr 70px;
	max-width: 70rem;
	margin: 0 auto;
	padding: 1rem 0;
	border-bottom: 1px solid rgba(10, 131, 5, 0.1);
}

.bigger {
	background-color: rgba(7, 126, 7, 0.541);
	border-radius: 2rem;
	color: #fff;
}
