.statBack {
	padding: 1rem;
}

.stat {
	font-size: 2rem;
	display: grid;
	grid-template-columns: 7rem 1fr 7rem;
	max-width: 70rem;
	margin: 0 auto;
	padding: 1rem 0;
	border-bottom: 1px solid var(--gray-1);
	align-items: center;
}

.bigger {
	background-color: rgba(7, 126, 7, 0.541);
	border-radius: 2rem;
	color: #fff;
}

@media (max-width: 600px) {
	.stat {
		font-size: 1.7rem;
		grid-template-columns: 4rem 1fr 4rem;
	}
}
@media (max-width: 400px) {
	.stat {
		font-size: 1.5rem;
		grid-template-columns: 3rem 1fr 3rem;
	}
}
