.tabList {
	display: grid;
	grid-template-columns: repeat(4, max-content);
	grid-column-gap: 7rem;
	font-size: 1.8rem;
	list-style: none;
	max-width: 70rem;
	justify-content: center;
	z-index: 10;
	position: relative;
}

.li {
	cursor: pointer;
	padding: 1.5rem;
	color: var(--gray-2);
}

.clicked {
	border-bottom: 0.3rem solid aqua;
}

@media (max-width: 600px) {
	.tabList {
		overflow: auto;
		justify-content: start;
		grid-column-gap: 1rem;
		-ms-overflow-style: none;
		scrollbar-width: none;
	}

	.tabList::-webkit-scrollbar {
		display: none;
	}
}

.container::-webkit-scrollbar {
	display: none; /* Safari and Chrome */
}
