.tabList {
	display: grid;
	grid-template-columns: repeat(4, max-content);
	grid-column-gap: 7rem;
	font-size: 1.8rem;
	list-style: none;
	max-width: 70rem;
	margin: 2rem auto;
	justify-content: center;
	z-index: 10;
	position: relative;
}

.li {
	cursor: pointer;
}

@media (max-width: 600px) {
	.tabList {
		grid-column-gap: 1.5rem;
		font-size: 1.5rem;
	}
}
